{% extends "layout.njk" %}

{% block content %}
<div class="py-5"><h2>生成站点</h2></div>

<form action="" method="POST" style="max-width:300px;">
	<div class="form-group">
 		<label>域名列表</label>
		<textarea name="domains" class="form-control" rows="20" style="font-size:13px"></textarea>
	</div>
    <small class="form-text text-muted">
		每行一个。提交以后需要重载nginx才能生效
	</small>
	<hr class="mb-4">
	<button class="btn btn-primary" type="submit">生成</button>
</form>
{% endblock %}