server
{
    listen 80;
    server_name {{domain}} ~^(?<subdomain>.+){{_domain}}$;
    index index.php index.html index.htm default.php default.htm default.html;
    root /www/wwwroot/{{domain}};
    
    #SSL-START SSL相关配置，请勿删除或修改下一行带注释的404规则
    #error_page 404/404.html;
    #SSL-END
    
    #ERROR-PAGE-START  错误页配置，可以注释、删除或修改
    #error_page 404 /404.html;
    #error_page 502 /502.html;
    #ERROR-PAGE-END
    error_page 404 /index.php;
    
    #屏蔽UA
    include /www/server/nginx/conf/agent-deny.conf;
    
    #PHP-INFO-START  PHP引用配置，可以注释或修改
    include enable-php-52.conf;
    #PHP-INFO-END
    
    rewrite /baidu_verify_(.*).html /baidu.php?$1 last;
    
    #禁止访问的文件或目录
    location ~ ^/(\.user.ini|\.htaccess|\.git|\.svn|\.project|LICENSE|README.md)
    {
        return 404;
    }
    
    #一键申请SSL证书验证目录相关设置
    location ~ \.well-known{
        allow all;
    }
    
    location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$
    {
        expires      30d;
        error_log off;
        access_log /dev/null;
    }
    
    location ~ .*\.(js|css)?$
    {
        expires      12h;
        error_log off;
        access_log /dev/null; 
    }
    
    location / {
    	try_files $uri $uri/ /index.php;
    }
    access_log  /www/wwwlogs/{{domain}}.log;
    error_log  /www/wwwlogs/{{domain}}.error.log;
}