{% extends "layout.njk" %}

{% block content %}
<div class="text-center py-5"><h2>修改网站属性 {{site.domain}}</h2></div>

<form action="" method="POST">
	<div class="form-group">
		<label>域名</label>
		<input name="domain" value="{{site.domain}}" readonly type="text" class="form-control" placeholder="主域名">
	</div>
	<div class="form-group">
		<label>token</label>
		<input name="token" value="{{site.token}}" type="text" class="form-control" placeholder="请输入主动推送token">
	</div>
	<div class="form-group">
		<label>cookie</label>
		<input name="cookie" value="{{site.cookie}}" type="text" class="form-control" placeholder="BDUSS=...">
	</div>
	<div class="form-group">
		<label>推送地址生成规则</label>
		<input name="urlPattern" value="{{site.urlPattern}}" type="text" class="form-control" value="{域名}/{字母}{数字}.php/{字母}{数字}.xml">
		<small class="form-text text-muted">
			可用标签：{域名}、{字母}、{数字}。字母数字可以指定长度，如：{字母-4}（四位字母）、{数字-2}（两位数字）
		</small>
	</div>
	<hr class="mb-4">
	<button class="btn btn-primary btn-block" type="submit">保存</button>
</form>
{% endblock %}