{% extends "layout.njk" %}

{% block content %}
<div class="text-center py-5"><h2>{{domain}}导入子域名文件</h2></div>

<form action="" method="POST" enctype="multipart/form-data">
	<div class="form-group">
 		<label>子域名文件</label>
		<input type="file" class="form-control-file" name="subdomains">
	</div>
	<hr class="mb-4">
	<button class="btn btn-primary" type="submit">导入</button>
</form>
{% endblock %}