{% extends "layout.njk" %}

{% block content %}
<div class="text-center py-5"><h2>导入配置文件</h2></div>

<form action="" method="POST" enctype="multipart/form-data">
	<div class="form-group">
 		<label>config.json文件</label>
		<input type="file" class="form-control-file" name="config">
	</div>
	<hr class="mb-4">
	<button class="btn btn-primary" type="submit">添加</button>
</form>
{% endblock %}