<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{title}}</title>
		<link href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<style>
			.container {max-width: 700px;}
		</style>
        {% block style %}{% endblock %}
	</head>
	<body class="bg-light">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom" style="background-color: #e3f2fd;"">
				<a href="#" class="navbar-brand">PushMe</a>
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link active" href="/list">网站列表</a>
					<a class="nav-item nav-link" href="/tasks">所有推送任务</a>
					<a class="nav-item nav-link" href="/schedule">定时任务</a>
					<a class="nav-item nav-link" href="/build">站点生成</a>
				</div>
				<a class="navbar-text" href="/logout"> 登出 </a>
			</nav>
		{% block content %}{% endblock %}
		</div>

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.slim.min.js"></script>
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		{% block script %}{% endblock %}
	</body>
</html>