{% extends "layout.njk" %}

{% block content %}
<div class="text-center pt-3 pb-2"><h2>网站列表</h2></div>
<hr class="mb-4">
<div class="mb-3 clearfix">
	<a href="/addsite" class="btn btn-success float-left">添加网站</a>
	<a href="/import" class="btn btn-secondary float-right">导入config.json</a>
</div>
<ul class="list-group mb-5">
	{% for l,site in sites %}
	<a class="list-group-item" href="/site/{{site.domain}}">
		{% if site.invalid %}
		<del class="text-danger">{{site.domain}}</del>
		{% else %}
		{{site.domain}}
		{% endif %}
	</a>
	{% endfor %}
</ul>
{% endblock %}