{% extends "layout.njk" %}

{% block content %}
<div class="text-center py-5"><h2>定时任务</h2></div>

<ul>
{% for job in jobs %}
<li>
<dl>
<dt>执行时间</dt><dd>{{job.time}}</dd>
<dt>下次执行时间</dt><dd>{{job.next}}</dd>
</dl>
</li>
{% endfor %}
</ul>
{% endblock %}