{% extends "layout.njk" %}
{% block style %}
<style>
.form-inline .input-amount {width: 70px;}
.nav-pills .nav-link.active {border-bottom: 3px solid #007bff; border-radius: 0;color:inherit;background:none;}
</style>
{% endblock %}

{% block content %}
<div class="text-center pt-5 pb-4"><h2>{{site.domain}}</h2></div>
<ul class="nav nav-pills mb-3">
	<li class="nav-item">
		<a class="nav-link active">网站信息</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/tasks/{{site.domain}}">推送任务</a>
	</li>
</ul>
<div class="bg-white">
	<a href="/edit/{{site.domain}}" class="btn btn-outline-secondary ml-2 float-right mt-3 mr-3">编辑</a>
	<form  method="POST" action="/addPushTask/{{site.domain}}" class="form-inline float-right mt-3 mr-2">
		<button type="submit" class="btn btn-outline-primary ml-2">添加推送任务</button>
	</form>
	{% if site.cookie %}
	<form  method="POST" action="/agreeSubdomains/{{site.domain}}" class="form-inline float-right mt-3 mr-2">
		<button type="submit" class="btn btn-outline-success ml-2">批量同意协议</button>
	</form>
	{% endif %}
	<div class="card-body">
		{% if site.invalid %}
		<div class="mb-3">
			<span class="text-danger">已禁用</span> | 
			<a class="btn btn-outline-warning btn-sm" href="/enable/{{site.domain}}"> 重新启用 </a>
		</div>
		{% endif %}
		<dl>
			<dt>Token</dt><dd>{{site.token}}</dd>
			<dt>Cookie</dt><dd class="text-truncate">{{site.cookie}}</dd>
			<dt>推送地址生成规则</dt><dd>{{site.urlPattern}}</dd>
		</dl>
	</div>
</div>

{% if site.cookie %}
<form class="form-inline float-right clearfix mt-3" action="/syncSubdomains/{{site.domain}}">
	共<input class="form-control input-amount" type="text" name="amount" value="1000">个子域名
	<button type="submit" class="btn btn-success ml-2">同步子域名</button>
</form>
{% endif %}

<h3 class="my-3 h4">
子域名（{{subdomains.length}}）
	<a class="btn btn-info ml-2" href="/importSubdomain/{{site.domain}}">导入子域名</a>
</h3>
<ul class="list-group mb-4">
	{% for subdomain in subdomains %}
	<li class="list-group-item">{{subdomain}}</li>
	{% else %}
	<li class="list-group-item">暂时没有子域名</li>
	{% endfor %}
</ul>
{% if not site.invalid %}
<form  method="POST" action="/disable/{{site.domain}}" onsubmit="return confirm('确定要禁用此网站吗？');" class="my-4">
	<button type="submit" class="btn btn-outline-danger">禁用网站</button>
</form>
{% endif %}
<form  method="POST" action="/delete/{{site.domain}}" onsubmit="return confirm('确定要删除此网站吗？');" class="my-4">
	<button type="submit" class="btn btn-danger">删除网站</button>
</form>
{% endblock %}