{% extends "layout.njk" %}
{% block style %}
<style>
.form-inline .input-amount {width: 70px;}
.nav-pills .nav-link.active {border-bottom: 3px solid #007bff; border-radius: 0;color:inherit;background:none;}
</style>
{% endblock %}

{% block content %}
<div class="text-center pt-5 pb-4"><h2>{{site.domain}} 推送任务</h2></div>
<div class="float-right">
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{currentDate}}
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			{% for date in dates %}
			<a href="/tasks/{{site.domain}}/{{date}}" class="dropdown-item">{{date}}</a>
			{% endfor %}
		</div>
	</div>
</div>
<ul class="nav nav-pills mb-3">
	<li class="nav-item">
		<a class="nav-link" href="/site/{{site.domain}}">网站信息</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active">推送任务</a>
	</li>
</ul>

<ul class="list-group mb-5">
	{% for job in lastestJobs %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<span>
			<a href="/task/{{job.id}}"><span class="badge mr-2">{{job.id}}</span></a>
			{{job.data.name}}
		</span>
		<span>
			{% if job.state=='completed' %}
			<span class="badge badge-success">成功</span>
			{% elif job.state=='waiting' %}
			<span class="badge badge-info">等待</span>
			{% else %}
			<span class="badge badge-secondary">{{job.state}}</span>
			{% endif %}
			<span class="badge badge-light badge-pill ml-3">{{job.data.urls.length}}</span>
		</span>
	</li>
	{% else %}
	<li class="list-group-item">暂时没有任务</li>
	{% endfor %}
</ul>

{% endblock %}
