{% extends "layout.njk" %}

{% block content %}
<div class="text-center pt-4 pb-4"><h2 class="h4">任务{{job.id}}详情</h2></div>
<dl>
	<dt>时间</dt><dd>{{date}}</dd>
	<dt>状态</dt><dd>{{state}}</dd>
	{% if job.failedReason %}
	<dt>失败原因</dt><dd>{{job.failedReason}}</dd>
	<dt>失败次数</dt><dd>{{job.attemptsMade}}</dd>
	<dt>stacktrace</dt>
	<dd>
	<textarea class="form-control" rows="6" style="font-size:13px">{{job.stacktrace}}</textarea>
	</dd>
	{% endif %}
	<dt>Data</dt>
	<dd class="form-group">
		<textarea class="form-control" rows="20" style="font-size:13px">{{job.data | dump(2) | trim}}</textarea>
	</dd>
	{% if job.returnvalue %}
	<dt>返回值</dt>
	<dd class="form-group">
		<textarea class="form-control" rows="2" style="font-size:13px">{{job.returnvalue | dump}}</textarea>
	</dd>
	{% endif %}
	
</dl>
{% endblock %}