{% extends "layout.njk" %}

{% block content %}
<nav class="nav nav-pills nav-fill bg-white mt-3">
	<a href="/tasks-completed" class="nav-item nav-link">
		已完成
		<span class="badge badge-success">{{jobCounts.completed}}</span>
	</a>
	<a href="/tasks-failed" class="nav-item nav-link">
		失败
		<span class="badge badge-danger">{{jobCounts.failed}}</span>
	</a>
	<a href="/tasks-waiting" class="nav-item nav-link">
		等待
		<span class="badge badge-info">{{jobCounts.waiting}}</span>
	</a>
	<a href="/tasks-delayed" class="nav-item nav-link">
		推迟
		<span class="badge badge-dark">{{jobCounts.delayed}}</span>
	</a>
</nav>
<div class="text-center pt-4 pb-4"><h2 class="h4">{{labels[state]}}推送任务</h2></div>

<ul class="list-group mb-5">
	{% for job in jobs %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<span>
			<a href="/task/{{job.id}}"><span class="badge mr-2">{{job.id}}</span></a>
			{{job.data.name}}
		</span>
		<span class="badge badge-light badge-pill ml-3">{{job.data.urls.length}}</span>
	</li>
	{% else %}
	<li class="list-group-item">暂时没有任务</li>
	{% endfor %}
</ul>
{% endblock %}